*{
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;

}
html {
    scroll-padding-top: 160px; /* altura do header */
    scroll-behavior: smooth;
}  

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}
body{
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}




header{
    background-color:#0c2356;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: white;
}
#btn-hamb {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

.topics-head ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
}
.topics-head li{
   padding: 0 20px;
   text-decoration: none;
}
.topics-head a{
    text-decoration: none;
    color: white;
}
#bottom-cadastro{
    font-style: oblique;
    text-decoration: underline;
    padding: 15px;
    border: 1px white solid;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .topics-head {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background:#0a1a3c;
        padding: 15px;
        border-radius: 10px;
    }

    .topics-head ul {
        flex-direction: column;
        gap: 10px;
    }

    #btn-hamb {
        display: block; 
    }

    .topics-head.mostrar {
        display: block; 
    }
}




.frame-img{
    background-image: url(/assets/imgs/fotoheader.png);
    background-color: rgba(0, 255, 255, 0);
    align-items: center;
    background-size: cover;
    background-position: center; 
    justify-content: center;
    align-items: center;  
    min-height: 100vh;

}

#introducao{
    background: linear-gradient(to right, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0) 100%);
    color: white;
    width: 100%;
    height: 500px;
    min-height: 100vh;
}
.container-block{
    padding-top: 100px;
    padding-left: 30px;
    max-width: 700px;
}
.container-block h2{
    font-size: 50px;
}
.container-block p{
    margin-top: 50px;
    font-size: 20px;
}



#beneficios{
    padding: 2% 60px 90px; /* Top, Left/Right, Bottom */
    text-align: center;
    background-color: #eaeffb; /* Cor de fundo igual ao do Código 2 */
    width: 100%;
}
#beneficios h2{
    font-size: 50px;
    padding: 65px 0px;
}
#text-expln{
    font-size: 17px;

}
.container-beneficios{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 50px;
}

.container-caixa{
    margin: 10px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    text-align: left;
    padding-bottom: 60px;
}
.container-caixa h3{
    font-size: 24px;
    padding-bottom: 20px;
    line-height: 30px;

}

.container-caixa p {
    font-size: 1em;
}




#funcionalidades {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    font-family: Arial, sans-serif;
}
  
#funcionalidades h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0a1a3c;
    
}
#funcionalidade-title{
    text-align: center;
}
#funcionalidade-sub{
    margin: 0 auto;
}
  
#funcionalidades > p {
    max-width: 800px;
    margin-bottom: 50px;
    color: #444;
    font-size: 1.1rem;
}
  
.container-funcoes {
    display: grid;
    gap: 80px;
}
  
.linha-img-dir,
.linha-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 40px;
}
  
#infos h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #0a1a3c;
}
  
#infos p {
    font-size: 1.05rem;
    line-height: 1.6;
    color: #555;
}
  
  
#img img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    max-height: 350px;
}
  
  /* Reverso (imagem à esquerda, texto à direita) */
.reverse {
    direction: rtl; /* inverte a ordem da linha */
}
  
.reverse > * {
    direction: ltr; /* mantém o texto normal */
}
  


#porque{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    text-align: center;
    width: 80%;
    margin-bottom: 3%;
    color: white;
    
}
#porque h2{
    font-size: 35px;
}
#porque-cor{
    background-color:#0a1a3c;
}
.grid-porques{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 50px;
}
.block-porque{
    background-color: #0c2356;
    padding: 30px;
    border-radius: 8px;
    text-align: left;
    color: #fff;
    transition: transform 0.3s ease, background-color 0.3s ease; /* transition sempre na classe normal, e não no hover */
}


.block-porque h3,
.block-porque:hover p { /*pro h3 e p mudarem de cor ao passar o mouse*/
    color: #0A1C47;
}

.block-porque:hover {
    background-color: white;
    color: #0A1C47;
    transform: scale(1.10);
}

.block-porque h3 {
    font-size: 1.5em;
    color: var(--text-light);
    margin-bottom: 15px;
}

.block-porque p {
    font-size: 0.95em;
}

/*
.porque-choose-section {
    background-color: var(--primary-blue);
    color: var(--text-light);
    padding: 60px 20px;
    text-align: center;
}

.porque-choose-section h2 {
    color: var(--text-light);
}

#porque {
    width: 80%;
    margin: 0% auto;
    margin-bottom: 3%;
}

.porque-choose-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.porque-choose-card:hover h3,
.porque-choose-card:hover p { /*pro h3 e p mudarem de cor ao passar o mouse
color: #0A1C47;
}

.porque-choose-card {
    background-color: #0c2356;
    color: var(--text-light);
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    text-align: left;
    transition: transform 0.3s ease, background-color 0.3s ease; /* transition sempre na classe normal, e não no hover /
}

.porque-choose-card:hover {
    background-color: white;
    color: #0A1C47;
    transform: scale(1.10);
}

.porque-choose-card h3 {
    font-size: 1.5em;
    color: var(--text-light);
    margin-bottom: 15px;
}

.porque-choose-card p {
    font-size: 0.95em;
}
*/





#sobre-nos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; 
    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;
    padding-bottom: 120px;
}
#img-nos {
    width: 600px;
    height: 400px;
    object-fit: cover; 
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.sobrenos-content {
    flex: 1;
    color: #333;
}

.sobrenos-content h2 {
    font-size: 2rem;
    color: #0a1a3b;
    margin-bottom: 20px;
}
.sobrenos-content p {
    font-size: 1.1rem;
    line-height: 1.6;
}
@media (max-width: 768px) {
    #sobre-nos {
        flex-direction: column;
        text-align: center;
    }

    #img-nos {
        width: 100%;
        height: auto;
    }
}



#planos{
    background-color: #F7F7F7;
    padding-top: 120px;
    padding-bottom: 100px;
}

.container-planos {
    text-align: center;
    margin: 0px auto;
    max-width: 1200px;

}

.container-planos h2 {
    font-size: 42px;
    color: #0a1a3b;
    margin-bottom: 10px;
    font-weight: 800;
}

.container-planos p {
    color: #666;
    margin-bottom: 40px;
    font-size: 16px;
}

.grid-planos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
    
}

.card-assinar {
    border-radius: 12px;
    padding: 48px 38px;
    width: 380px;
    box-shadow: 0 10px 24px rgba(0,0,0,0.18);
    text-align: left;
    margin-top: -6px;
    border: 1px solid rgba(0,0,0,0.08);
    margin-top: 20px;
    background-color: white;
}

.card-assinar h3 {
    font-size: 28px;
    color: #0a1a3b;
    margin-bottom: 8px;
    font-weight: 800;
}

.card-assinar p:first-of-type {
    color: #8a8a8a;
    margin-bottom: 28px;
}

.card-assinar #preco {
    font-size: 36px;
    font-weight: 700;
    color: #0a1a3b;
    margin: 8px 0 26px;
}

.card-assinar ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 26px;
    color: #444;
}

.card-assinar li {
    margin-bottom: 10px;
    font-size: 14px;
}

.card-assinar input {
    background: #2b4eff;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    font-weight: 700;
}

/* card do meio - maior e em destaque */
.card-assinar-highlit {
    background: #3d5bff;
    color: #fff;
    border-radius: 12px;
    padding: 55px 38px;
    width: 380px;
    box-shadow: 0 10px 24px rgba(0,0,0,0.18);
    text-align: left;
    margin-top: -6px;
    border: 1px solid rgba(0,0,0,0.08);
    margin-top: 0px;

}

.card-assinar-highlit h3 {
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: 900;
}

.card-assinar-highlit p:first-of-type {
    color: #dfe9ff;
    margin-bottom: 30px;
}

.card-assinar-highlit #preco {
    font-size: 36px;
    font-weight: 700;
    margin: 8px 0 26px;
    color: #fff;
}

.card-assinar-highlit ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 30px;
    color: #e6eeff;
}

.card-assinar-highlit li {
    margin-bottom: 10px;
    font-size: 14px;
}

.card-assinar-highlit input {
    background: #ffffff;
    color: #3d5bff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    font-weight: 800;

}
@media (max-width: 768px) {
    .grid-planos {
        flex-direction: column;
        gap: 20px;
    }


    .card-assinar p:first-of-type,
    .card-assinar ul,
    .card-assinar-highlit p:first-of-type,
    .card-assinar-highlit ul {
        display: none;
    }

    .card-assinar, 
    .card-assinar-highlit {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .card-assinar h3,
    .card-assinar-highlit h3 {
        font-size: 22px;
    }

    .card-assinar #preco,
    .card-assinar-highlit #preco {
        font-size: 24px;
    }
}




.links-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-bottom: 90px;
    color: rgb(236, 236, 236);
}
.grid-footer{
    background-color:#0a1a3b;
    padding: 30px 90px;
    color: rgb(236, 236, 236);
}
#nav-footer{
    margin-left: 50px; /*Tentando Diminuir as linhas*/
}

#nav-footer li{
    list-style: none;
}
.rodape-footer{
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
}
#icones-midias{
    display: flex;
    justify-content: space-around;


}
#icon {
    width: 40px;
    height: 40px;
    background: #E1E6F9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

}

#icon svg {
    width: 20px;
    height: 20px;
    fill: #0A1C47;
}

#icon:hover {
    background: #4460F6; /* muda a cor no hover */
}

#icon:hover svg {
    fill: #fff; /* deixa o ícone branco no hover */
}

#dist-icon{
    margin-left: 15px;
}
#title-points{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .links-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-bottom: 90px;
        color: rgb(236, 236, 236);
        
    }
    #nav-footer{

        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    #img-foot{
        margin: 0 auto;
        margin-bottom: 50px;
    }
}



