body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #EAF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    width: 75%;
    background-color: #fff;
    height: 750px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 5px 5px 15px black;
}

.container-esquerdo {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bold;
}

.logo img {
    width: 40px;
}

h1 {
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-size: 14px;
    color: #333;
}

input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 20px;
    font-size: 15px;
    outline: none;
}

.checkbox {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 15px;
    color: #000;
}

.checkbox input {
    margin-right: 8px;
    margin-top: 14px;
}


.botao {
    background: #000;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    transition: 0.3s;
}

.botao:hover {
    background: #222;
}

.login-text {
    margin-top: 20px;
    font-size: 14px;
    color: #444;
    text-align: center;
}

.login-text a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}

.container-direito {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
}

.sobreposicao {
    position: absolute;
    color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
}

.sobreposicao img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.celular {
    text-align: center;
    z-index: 2;
}

.celular img{
    width: 350px;
}